{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Book Details{% endblock %}

{% block content %}
  <a href="{% url 'books.list_books' %}">Go Back</a>

  {% if book %}
    <h1>Details of {{ book.title }}</h1>
    <h2>Author: {{ book.author }}</h2>
    <p><strong>Description:</strong> A description of the book goes here.</p>
    <img src="{% static 'book'|add:book.id|stringformat:"d"%}.jpg" alt="{{ book.title }} cover" width="200" height="250">
    {% else %}
    <p>Book not found.</p>
  {% endif %}
{% endblock %}
