<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <title>Formatting</title>
</head>
<body>
    <div class="formatting">
        <h1>Example of Formatting tags</h1>
    </div>
    
    <div class="text">
    This text has <b>subtext</b> using b tag <br> 
    This text has <strong>subtext</strong> using strong tag <br>

    This text has <i>subtext</i> using i tag <br>
    This text has <em>subtext</em> using em tag <br>

    This text has <small>subtext</small> using small tag <br>
    This text has <mark>subtext</mark> using mark tag <br>
    This text has <del>subtext</del> using del tag <br>
    This text has <ins>subtext</ins> using ins tag <br>
    This text has X<sub>subtext</sub> using sub tag <br>
    This text has X<sup>subtext</sup> using sup tag <br>
</div>

</body>
</html>
